.videos {
  &__title {
    margin-bottom: 25px;
  }

  &__description {
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 90px;
  }

  &__play {
    flex-shrink: 0;
    align-self: flex-start;
    transform: translateY(-200%);
    @include transit(transform);

    .icon-video-play {
      display: block;
      width: 60px;
      height: 60px;
    }
  }

  .slider__container {
    padding: 51px 0;

    &-title {
      @extend %prodisplay-bold-font;
      font-size: 28px;
    }

    .swiper-slide {
      position: relative;
      width: 700px;
      height: 420px;
      @include transit(transform);
      border-radius: 8px;
      overflow: hidden;
      @extend %placeholder-location;
      padding: 40px;
      display: flex;
      align-items: flex-end;

      .slider__container-title {
        position: relative;
        margin-left: -60px;
        transform: translateY(300%);
        z-index: 1;
        @include transit(transform);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.0001) 50%,
          rgba(0, 0, 0, 0.61) 100%
        );
        opacity: 0;
        @include transit(opacity);
      }

      &-active {
        position: relative;
        transform: scaleX(1.17) scaleY(1.2);
        @include transit(transform);

        .videos__play {
          transform: translateY(0);
          @include transit(transform);
        }

        .slider__container-title {
          transform: translateY(0);
          @include transit(transform);
        }

        &::after {
          opacity: 1;
          @include transit(opacity);
        }
      }
    }

    // .swiper-slide
  }
}
